h1 {
    color: Green;
}

h2 {
    color: green;

}

.exemplo1 {
    color:green
}
h3 {
    color: green
}

.exemplo2 {
    color: green
}
.exemplo3 {
    color:green
}
h3 {
    color: green
}
.exemplo4 {
    color: green
}
.exemplo5 {
    color: green
}
h3 {
    color: green
}
.exemplo6 {
    color: green
}
.exemplo7 {
    color:green
}
h3 {
    color: green
}
.exemplo8 {
    color:green
}

#economy h2{
    color: gold;
}
.creation-date {
    color: gold
}
.exemplo9 {
    color: gold
}
.exemplo10 {
    color:gold
}
.exemplo11{
    color:gold
}
.exemplo12{
    color:gold
}
.exemplo13{
    color:gold
}
.exemplo14{
    color:gold
}
.exemplo15{
    color:gold
}


#entertainment h2{
    color: purple;
}

.Hora1 {
    color: purple;
}


.um{
    color:purple;
}
.dois{
    color:purple;
}


.Hora2 {
    color: purple;
}
.tres{
    color:purple;
}
.quatro{
    color:purple;
}
.Hora3{
    color: purple;
}
.cinco{
    color:purple;
}
.seis{
    color:purple;
}

#technology h2{
    color:orangered
}
.Hora4 {
    color: orangered;
}
.sete{
    color:orangered;
}
.oito{
    color: orangered
}

.Hora5 {
    color: orangered;
}
.nove{
    color:orangered
}
.dez{
    color:orangered
}


